<script lang="ts">
	export let base: string;
	export let inverted: string;
	export let size: string;
</script>

<div class="wrapper" style={`--base: url(${base}); --inverted: url(${inverted}); --size: ${size};`}>
	<div class="layer-1" />
	<div class="layer-2" />
	<div class="layer-3" />
</div>

<style lang="scss">
	.wrapper {
		position: relative;

		.layer-1,
		.layer-2,
		.layer-2:before,
		.layer-3 {
			width: var(--size);
			height: var(--size);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: center;
		}

		.layer-1,
		.layer-3 {
			background-image: var(--base);
		}

		.layer-1 {
			mix-blend-mode: color;
		}

		.layer-2 {
			position: absolute;
			top: 0;
			mix-blend-mode: overlay;

			&:before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				background-image: var(--inverted);
			}
		}

		.layer-3 {
			position: absolute;
			top: 0;
			mix-blend-mode: difference;
		}
	}
</style>
