<script lang="ts">
	export let color: string = '#FFF';
	export let inverted: string = '#000';
</script>

<div class="wrapper" style={`--color: ${color}; --inverted: ${inverted};`}>
	<div class="layer-1"><slot /></div>
	<div class="layer-2"><slot /></div>
	<div class="layer-3"><slot /></div>
</div>

<style lang="scss">
	.wrapper {
		position: relative;

		.layer-1 {
			mix-blend-mode: color;
			color: var(--color);
		}

		.layer-2 {
			position: absolute;
			top: 0;
			mix-blend-mode: overlay;
			color: var(--inverted);
		}

		.layer-3 {
			position: absolute;
			top: 0;
			color: var(--color);
			mix-blend-mode: difference;
			// opacity: 0.6;
		}
	}
</style>
