<script lang="ts">
	import { onDestroy } from 'svelte';
	import { fly } from 'svelte/transition';
	import { ConfettiP5 } from 'svelte-confetti-p5';
	import { clickOutside } from 'svelte-use-click-outside';
	import { intervalToDuration, type Duration } from 'date-fns';

	import Digit from './components/Digit.svelte';
	import InvertedText from './components/InvertedText.svelte';
	import InvertedBackground from './components/InvertedBackground.svelte';

	const mobile = isMobile();

	function isMobile() {
		const nav = navigator.userAgent || navigator.vendor || window.opera;
		return (
			navigator?.userAgentData?.mobile ||
			/(android|bb\d+|meego).+mobile|avantgo|bada\/|blackberry|blazer|compal|elaine|fennec|hiptop|iemobile|ip(hone|od)|iris|kindle|lge |maemo|midp|mmp|mobile.+firefox|netfront|opera m(ob|in)i|palm( os)?|phone|p(ixi|re)\/|plucker|pocket|psp|series(4|6)0|symbian|treo|up\.(browser|link)|vodafone|wap|windows ce|xda|xiino/i.test(
				nav
			) ||
			/1207|6310|6590|3gso|4thp|50[1-6]i|770s|802s|a wa|abac|ac(er|oo|s\-)|ai(ko|rn)|al(av|ca|co)|amoi|an(ex|ny|yw)|aptu|ar(ch|go)|as(te|us)|attw|au(di|\-m|r |s )|avan|be(ck|ll|nq)|bi(lb|rd)|bl(ac|az)|br(e|v)w|bumb|bw\-(n|u)|c55\/|capi|ccwa|cdm\-|cell|chtm|cldc|cmd\-|co(mp|nd)|craw|da(it|ll|ng)|dbte|dc\-s|devi|dica|dmob|do(c|p)o|ds(12|\-d)|el(49|ai)|em(l2|ul)|er(ic|k0)|esl8|ez([4-7]0|os|wa|ze)|fetc|fly(\-|_)|g1 u|g560|gene|gf\-5|g\-mo|go(\.w|od)|gr(ad|un)|haie|hcit|hd\-(m|p|t)|hei\-|hi(pt|ta)|hp( i|ip)|hs\-c|ht(c(\-| |_|a|g|p|s|t)|tp)|hu(aw|tc)|i\-(20|go|ma)|i230|iac( |\-|\/)|ibro|idea|ig01|ikom|im1k|inno|ipaq|iris|ja(t|v)a|jbro|jemu|jigs|kddi|keji|kgt( |\/)|klon|kpt |kwc\-|kyo(c|k)|le(no|xi)|lg( g|\/(k|l|u)|50|54|\-[a-w])|libw|lynx|m1\-w|m3ga|m50\/|ma(te|ui|xo)|mc(01|21|ca)|m\-cr|me(rc|ri)|mi(o8|oa|ts)|mmef|mo(01|02|bi|de|do|t(\-| |o|v)|zz)|mt(50|p1|v )|mwbp|mywa|n10[0-2]|n20[2-3]|n30(0|2)|n50(0|2|5)|n7(0(0|1)|10)|ne((c|m)\-|on|tf|wf|wg|wt)|nok(6|i)|nzph|o2im|op(ti|wv)|oran|owg1|p800|pan(a|d|t)|pdxg|pg(13|\-([1-8]|c))|phil|pire|pl(ay|uc)|pn\-2|po(ck|rt|se)|prox|psio|pt\-g|qa\-a|qc(07|12|21|32|60|\-[2-7]|i\-)|qtek|r380|r600|raks|rim9|ro(ve|zo)|s55\/|sa(ge|ma|mm|ms|ny|va)|sc(01|h\-|oo|p\-)|sdk\/|se(c(\-|0|1)|47|mc|nd|ri)|sgh\-|shar|sie(\-|m)|sk\-0|sl(45|id)|sm(al|ar|b3|it|t5)|so(ft|ny)|sp(01|h\-|v\-|v )|sy(01|mb)|t2(18|50)|t6(00|10|18)|ta(gt|lk)|tcl\-|tdg\-|tel(i|m)|tim\-|t\-mo|to(pl|sh)|ts(70|m\-|m3|m5)|tx\-9|up(\.b|g1|si)|utst|v400|v750|veri|vi(rg|te)|vk(40|5[0-3]|\-v)|vm40|voda|vulc|vx(52|53|60|61|70|80|81|83|85|98)|w3c(\-| )|webc|whit|wi(g |nc|nw)|wmlb|wonu|x700|yas\-|your|zeto|zte\-/i.test(
				nav.substr(0, 4)
			)
		);
	}

	const target = new Date('2024-02-01T23:00:00.000Z');
	// const target = new Date(new Date().valueOf() + 10000);

	let values: Duration = intervalToDuration({ start: new Date(), end: target });

	function addZero(value?: number): string {
		if (!value) {
			return '00';
		}

		return `${value < 10 ? '0' : ''}${value}`;
	}

	function convertToArrayChar(value?: number) {
		return addZero(value).split('');
	}

	function addS(value: number | undefined, text: string) {
		if (!value) {
			return '';
		}

		return value === 1 ? text : text + 's';
	}

	function isEnded() {
		const value =
			(values.years ?? 0) +
			(values.months ?? 0) +
			(values.weeks ?? 0) +
			(values.days ?? 0) +
			(values.hours ?? 0) +
			(values.minutes ?? 0) +
			(values.seconds ?? 0);

		return value <= 0;
	}

	const audio = new Audio('/media/sound.m4a');
	audio.volume = 0.2;

	function tick() {
		values = intervalToDuration({ start: new Date(), end: target });

		if (!mobile) {
			audio.play();
		}

		if (isEnded()) {
			clearInterval(inter);
		}
	}

	const inter = setInterval(() => tick(), 1000);

	onDestroy(() => clearInterval(inter));

	let show: boolean = false;
</script>

<div class="video">
	<video src={'/media/loop.mp4'} muted autoplay loop />
</div>
<!-- <div style="mix-blend-mode: overlay;"> -->
{#if !mobile}
	<ConfettiP5
		colors={['#FFF']}
		shapes="circles"
		minSize={1}
		maxSize={6}
		spacing={25}
		amount={200}
		flip={0}
		wind={0}
		power={2}
		weight={50}
		loop={true}
	/>
{/if}
<!-- </div> -->
<div class="flex">
	<div class="wrapper column">
		<InvertedBackground
			base={'/media/p3_logo.png'}
			inverted={'/media/p3_logo_inverted.png'}
			size={'350px'}
		/>
		<!-- <div class="img" /> -->
		{#if values}
			<InvertedText>
				<div class="count">
					<div class="wrapper">
						{#if values.years}
							<div class="units">
								{#each convertToArrayChar(values.years) as digit, i (2 - i)}
									<Digit number={digit} />
								{/each}
								<div class="suffix left">
									{addS(values.years, 'year')}
								</div>
							</div>
						{/if}
						{#if values.months}
							<div class="units">
								{#each convertToArrayChar(values.months) as digit, i (2 - i)}
									<Digit number={digit} />
								{/each}
								<div class="suffix left">
									{addS(values.months, 'month')}
								</div>
							</div>
						{/if}
						{#if values.weeks}
							<div class="units">
								{#each convertToArrayChar(values.weeks) as digit, i (2 - i)}
									<Digit number={digit} />
								{/each}
								<div class="suffix left">
									{addS(values.weeks, 'week')}
								</div>
							</div>
						{/if}
						{#if values.days}
							<div class="units">
								{#each convertToArrayChar(values.days) as digit, i (2 - i)}
									<Digit number={digit} />
								{/each}
								<div class="suffix left">
									{addS(values.days, 'day')}
								</div>
							</div>
						{/if}
					</div>
					<div class="wrapper">
						{#if values.hours}
							<div class="dot units">
								{#each convertToArrayChar(values.hours) as digit, i (2 - i)}
									<Digit number={digit} />
								{/each}
								<div class="suffix">:</div>
							</div>
						{/if}
						{#if values.hours || values.minutes}
							<div class="dot units">
								{#each convertToArrayChar(values.minutes) as digit, i (2 - i)}
									<Digit number={digit} />
								{/each}
								<div class="suffix">:</div>
							</div>
						{/if}
						<div class="dot units">
							{#each convertToArrayChar(values.seconds) as digit, i (2 - i)}
								<Digit number={digit} />
							{/each}
						</div>
					</div>
				</div>
			</InvertedText>
		{/if}
	</div>
</div>
<footer>
	<div class="wrapper">
		{#if show}
			<div
				class="links wrapper"
				use:clickOutside={() => setTimeout(() => (show = false))}
				transition:fly={{ duration: 200, y: 50 }}
			>
				<div class="wrapper">
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=2987986734"
						target="_blank"
						referrerpolicy="no-referrer">1080p</a
					>
					<hr />
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=2988103410"
						target="_blank"
						referrerpolicy="no-referrer">reduced banding</a
					>
				</div>
				<div class="wrapper">
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=2988108611"
						target="_blank"
						referrerpolicy="no-referrer">&nbsp;&nbsp;&nbsp;4k&nbsp;&nbsp;&nbsp;</a
					>
					<hr />
					<a
						href="https://steamcommunity.com/sharedfiles/filedetails/?id=2988098151"
						target="_blank"
						referrerpolicy="no-referrer">reduced banding</a
					>
				</div>
			</div>
		{/if}
		<button style="all: unset; cursor: pointer;" on:click={() => (show = !show)}>
			<InvertedBackground
				base={'/media/we_logo.png'}
				inverted={'/media/we_logo_inverted.png'}
				size={'100px'}
			/>
		</button>
	</div>
</footer>

<style lang="scss">
	.video {
		position: fixed;
		top: 0;
		left: 0;
		overflow: hidden;
		width: 100%;
		height: 100%;

		video {
			position: absolute;
			bottom: 0;
			left: 0;
			object-fit: cover;
			min-width: 100%;
			min-height: 100%;
		}
	}

	a {
		all: unset;
		display: flex;
		flex-direction: row;
		cursor: pointer;

		&:hover {
			text-decoration: underline;
		}
	}

	.flex {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: calc(100% - 200px);
		display: grid;
		align-items: center;
		justify-items: center;
		overflow: hidden;

		.count {
			display: flex;
			flex-direction: row;
			justify-items: center;
			gap: 1ch;
			// overflow: hidden;

			@media (max-width: 700px) {
				flex-direction: column;
			}
		}

		.wrapper {
			position: relative;
			display: flex;
			flex-direction: row;
			align-items: flex-end;
			justify-content: center;
			overflow: hidden;
			text-transform: uppercase;

			&.column {
				align-items: center;
				flex-direction: column;
			}

			.units {
				display: flex;
				flex-direction: row;
				align-items: flex-end;
				font-style: italic;

				&:not(.dot) {
					margin-left: 1ch;
				}

				&.dot {
					.suffix {
						margin-left: 0.5ch;
						margin-right: 0.5ch;
					}
				}

				.suffix {
					font-size: 30px;
					margin-bottom: 2.5px;

					&.left {
						margin-left: 0.5ch;
					}
				}
			}
		}
	}

	footer {
		position: absolute;
		bottom: 0;
		width: 100%;
		display: flex;
		flex-direction: row;
		align-items: flex-end;
		justify-content: center;

		.wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
		}

		.links {
			background-color: #00000080;
			gap: 0.5ch;
			padding: 10px;
			box-sizing: border-box;
			color: #fff;
			text-transform: uppercase;
			font-weight: 700;

			.wrapper {
				flex-direction: row;
				gap: 0.5ch;

				hr {
					width: 2px;
					margin: 5px;
					border: 1px solid #fff;
				}
			}
		}
	}
</style>
